<section class="dark triangle-up contact" id="Contact" ng-controller="ContactSectionCtrl">
	<h1>Contact Me</h1>
	<section class="around-town">
		<article ng-repeat="s in socialButtons" class="ss-{{s.icon}}">
			<a href="{{s.link}}" title="{{s.service}}"></a>
			<div class="social-hover">
				<p>{{s.service}}<br />{{s.name}}</p>
			</div>
		</article>
	</section>
	<section class="direct-line">
		<div class="ss-mail"><a href="mailto:nelson@keats.me" title="Email Me">nelson@keats.me</a></div>
		<div class="ss-phone"><a href="tel:+12029052592" title="Call Me">(202) 905-2592</a></div>
	</section>
</section>