<footer class="dark">
	<nav class="footer-nav"><ul>
		<li><a href="/">home</a></li>
		<li><a href="/work">work</a></li>
		<li><a href="/resume">resume</a></li>
		<li><a href="http://blog.keats.me">blog</a></li>
	</ul></nav>
	<p class="copyleft">&copy; Nelson Pecora, under a Creative Commons <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" title="Creative Commons licensing terms">(attribution noncommercial share-alike 3.0)</a> license</p>

	<!-- external scripts -->
	<script type="text/javascript" src="js/external/modernizr/build/modernizr.min.js"></script>
	<script type="text/javascript" src="js/external/angular/angular.min.js"></script>

	<!-- internal scripts -->
	<script type="text/javascript" src="js/scripts.min.js"></script>
</footer>