<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie-old" ng-app="khi"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" ng-app="khi"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <title>Keats Heavy Industries</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="" />
        <meta name="author" content="Nelson Pecora" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" type="text/css" href="iconic/iconic_fill.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="webfonts/ss-social-regular.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>