/* Footer */

.page-footer
	padding 30px 0

.footer-nav
	wrapper()

	ul
		width 100%
		margin 0 auto 10px
		display flex
		padding 0

		li
			text-align center
			margin 0 10px
			flex 1 1 auto
			position relative

			&:after
				content "|"
				position absolute
				right -10px
				color grey-dark

			&:last-of-type:after
				content ''

		@media tablet-small
			width 60%

.copyleft
	wrapper()
	color white
	font-size 0.85rem
	line-height 1.125rem
	text-align center
	margin-top 30px