/* Header Bar */

.page-header
	position absolute
	background-color rgba(255,255,255,0.97)
	color grey-dark
	width 100%
	margin 0
	top 0
	left 0
	box-shadow 0 4px 10px -6px rgba(0,0,0,0.4)
	z-index 99
	display flex
	align-items center

	@media tablet-large
		width 80%
		margin 0 10%
		top 10px

	@media monitor-medium
		max-width maxwidth
		left 50%
		margin-left -40%

	@media monitor-large
		margin-left -600px
		width maxwidth

	.no-touchevents &.sticky
		position fixed

	.page-header-left
		flex 1
		clearfix()

		a
			float left

	.page-header-center
		padding 10px
		margin 0
		font-size 2.25rem
		line-height 2.25rem

		a
			color inherit

			+hover()
				color inherit

			+active()
				color inherit

			+focus()
				color inherit

	.page-header-right
		flex 1

		&.homepage-header-right
			flex 0 0 90px

		a
			float right

	.page-header-link
		a
			padding 10px
			display block
			color grey-dark
			text-transform uppercase
			font-size 14px
			line-height 22px

			+hover()
				color grey-darker

			+active()
				color grey-darkest

			+focus()
				color grey-darkest

			@media tablet-small
				line-height 21px

			.angle
				font-size 22px
				vertical-align text-bottom
				display inline-block
				@media tablet-small
					font-size 30px

	.page-header-icon
		padding 10px 0
		clearfix()

		a
			padding-right 5px
			font-size 40px
			color grey-dark

			@media tablet-small
				padding 10px

			.iconic
				width 40px
				height 40px
				fill grey-darkest

	.home-logo
		width 44px
		height 44px
		margin-left 10px

		background-position 0 0
		background-repeat no-repeat
		background-size cover
		background-image url('/images/khi-logo@2x.png')

		@media tablet-small
			width 235px
			background-image url('/images/khi-full@2x.png')