/* Homepage */

.home-header
    h1
        wrapper()
        margin 40px auto 0
        letter-spacing 3px
        font-weight 700
        font-size 3rem
        line-height 4rem
        text-align center

        @media tablet-small
            font-size 3.5rem
            line-height 5rem

        @media tablet-large
            font-size 4rem
            line-height 6rem

        @media monitor-small
            font-size 5.75rem
            line-height 7.5rem

.home-blurb
    h2
        wrapper()
        margin 30px auto 20px
    p
        wrapper()
        margin 20px auto 0

        &.cta
            font-size 1.25rem

.home-excerpts
    padding-bottom 140px

    h2
        wrapper()
        margin 0 auto 20px
        text-align center

        &.homepage-press-headline
            padding-top 30px

        .no-flexbox &
            text-align left

    .gutter
        width 90%
        margin 0 5%
        display flex
        justify-content center
        flex-flow row wrap

        .no-flexbox &
            wrapper()
            margin 0 auto
            display block
            clearfix()

.home-excerpt-item
    width 250px
    height 200px
    position relative
    margin 25px

    .no-flexbox &
        display block
        float left
        clear left
        margin 20px auto
        left 50%
        margin-left -125px

    &.blogpost-item
        height auto

        &.blogpost-item-hasimg
            height 200px

    &:nth-of-type(3)
    &:nth-of-type(4)
    &:nth-of-type(5)
    &:nth-of-type(6)
        display none

    @media tablet-large
        width 300px !important
        height 250px !important

        .no-flexbox &
            clear none
            left 0
            margin-left 30px

            &:nth-of-type(2n-1)
                margin-left 0

        &:nth-of-type(3)
        &:nth-of-type(4)
            display block

    @media monitor-medium
        width 400px !important
        height 300px !important

        .no-flexbox &
            width 350px !important
            height 275px !important
            margin-left 20px

        &:nth-of-type(5)
        &:nth-of-type(6)
            display block

    &:before
        content ''
        position absolute
        top -13px
        left -13px
        height 27px
        width 27px
        background grey-light-offset
        border-left 1px solid #111
        z-index 1
        transform rotate(-135deg)

    &:after
        content ''
        position absolute
        top -13px
        right -13px
        width 0
        height 27px
        width 27px
        background grey-light-offset
        border-left 1px solid #111
        z-index 1
        transform rotate(315deg)

    .blogpost-item-img
        width 100%
        height 100%

        &:before
            content ''
            position absolute
            bottom -13px
            left -13px
            height 27px
            width 27px
            background grey-light-offset
            border-left 1px solid #111
            z-index 1
            transform rotate(-225deg)

        &:after
            content ''
            position absolute
            bottom -13px
            right -13px
            width 0
            height 27px
            width 27px
            background grey-light-offset
            border-left 1px solid #111
            z-index 1
            transform rotate(45deg)

        .home-excerpt-img
            height 100%

    .home-excerpt-img
        width 100%
        height auto
        border 1px solid grey-darkest
        position relative
        background-repeat no-repeat
        background-position center top
        background-size cover

    .home-excerpt-item-box
        width 100%
        height 76px
        padding 10px 10px 20px
        background-color grey-darkest
        color white
        position absolute
        left 0
        bottom 0

        @media tablet-small
            height 96px

        @media monitor-small
            height 115px

        &.blogpost-box
            height 100%
            position relative

            h3
                margin-top 10px
                margin-left 10px

            p
                margin-left 10px
                margin-right 10px

        &:before
            content ''
            position absolute
            bottom 0
            left 0
            width 0
            height 0
            border-top 18px solid grey-darkest
            border-left 18px solid grey-light-offset
            z-index 0

        &:after
            content ''
            position absolute
            bottom 0
            right 0
            width 0
            height 0
            border-top 18px solid grey-darkest
            border-right 18px solid grey-light-offset
            z-index 0

        h3
            margin 0
            margin-left 5px
            z-index 1

            @media tablet-small
                font-size 1.3em !important

.link-box
    display block
    position absolute
    width 100%
    height 100%
    top 0
    left 0