/* Breakpoints */

// note: breakpoints are mobile-first
phone-large =       'only screen and (min-width: 20em)'   // 320px+
phone-tall =        'only screen and (min-height: 25em)'  // 400px+ height

tablet-small =      'only screen and (min-width: 30em)'   // 480px+
tablet-large =      'only screen and (min-width: 48em)'   // 768px+

monitor-small =     'only screen and (min-width: 64em)'   // 1024px+
monitor-medium =    'only screen and (min-width: 75em)'   // 1200px+
monitor-large =     'only screen and (min-width: 96em)'   // 1536px+

// reusable standard measurements

fingerheight =      44px
maxwidth =          1200px
txtwidth =          720px

// Default structural stuff

html
body
    width 100%
    height 100%
    max-width 100%
    overflow-x hidden