/* This file contains LESS mixins and functions compiled from various sources */

// new clearfix (adapted from http://nicolasgallagher.com/micro-clearfix-hack/)
clearfix()
    &:before
    &:after
        content " "
        display table
    &:after
        clear both

/* .border-radius(VALUE,VALUE,VALUE,VALUE); */

border-radius()
    border-radius arguments
    background-clip padding-box


/* circle */
circle(diameter)
    border-radius 50%
    width diameter
    height diameter

// truncate text with ellipses (requires containing element to be display: block or inline-block)
text-truncate()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

// hover states
hover()
    .no-touchevents &:hover
        {block}

// active states
active()
    &:active
    .no-touchevents &:active
        {block}

focus()
    &:focus
    .no-touchevents &:focus
        {block}

wrapper()
    width 95%
    max-width txtwidth
    margin 0 auto

    @media tablet-small    { width 85% }
    @media tablet-large    { width 80% }
    @media monitor-small   { width 65% }
    @media monitor-medium  { width 70% }
    @media monitor-large   { width 60% }

border-left-colors()
    position relative
    padding-left 8px
    border-left 8px solid white

    for key, val in experiencecolors
        &:nth-of-type({key})
            border-color: val
            &:before
                border-color: val
            & > .exp-item > header > .exp-item-title
            & > header .exp-item-title
                color val

    &:before
        content ''
        width 1%
        position absolute
        top 0
        left 0
        border-top 8px solid white