// border-box reset
*
*:before
*:after
    box-sizing border-box
    zoom 1

// selection resets
::selection
    background selectcolor
    color white

img::selection
    background transparent

body
    -webkit-tap-highlight-color selectcolor
    -webkit-overflow-scrolling: touch !important

// ngCloak
*[ng-cloak]
.ng-cloak
    display none !important

// image resets
img
    height auto
    max-width 100%
    vertical-align middle
    border 0

ul
    list-style none