/* Requires all styles for compilation */

// defaults

@require colors
@require reset
@require layout
@require mixins
@require typography

// common page elements

@require pages
@require header
@require contact
@require footer

// individual pages

@require homepage
@require resume
@require work
@require '404'