/* Default Colors */

@black: #111;
@white: #fafafa;
@selectcolor: 	#94C8FF;

// grey

@grey_light: #eee;
@grey_light_offset: #ddd;
@grey_medium_light: #c2c2c2;
@grey_medium_dark: #666;
@grey_medium_black: #555;
@grey_dark: #333;

// link colors

@link_color: 	#2E93FF;
@link_hover:	#2576CC;
@link_active:	#123B66;

// color blocking

@purple: #A866F8;
@red: #F86464;
@navy: #81A0FF;
@green: #5FE866;
@yellow: #F1E05C;

// colors for skills (and other color-blocked items)

@color_1: @purple;
@color_2: @red;
@color_3: @navy;
@color_4: @green;
@color_5: @yellow;

// alternate colors for resume

@color_1_alt: @purple - 60%;
@color_2_alt: @red - 60%;
@color_3_alt: @navy - 60%;
@color_4_alt: @green - 70%;
@color_5_alt: @yellow - 70%;

/* Breakpoints */

// note: breakpoints are mobile-first
@phone_large: 		~"only screen and (min-width: 20em)";	// 320px+
@phone_tall:  		~"only screen and (min-height: 25em)";	// 400px+ height

@tablet_small:  	~"only screen and (min-width: 30em)";	// 480px+
@tablet_large:  	~"only screen and (min-width: 48em)";	// 768px+

@monitor_small:  	~"only screen and (min-width: 64em)";	// 1024px+
@monitor_medium:  	~"only screen and (min-width: 75em)";   // 1200px+
@monitor_large:  	~"only screen and (min-width: 96em)"; 	// 1536px+

// reusable standard measurements

@fingerheight: 		44px;
@maxwidth: 			1200px;

/* Default Type, Selection, Image, Form, and Link Styles */

::selection {
	background: @selectcolor;
    color: @white;
}
::-moz-selection {
    background: @selectcolor;
    color: @white;
}

img::selection { background: transparent; }
img::-moz-selection { background: transparent; }
body { -webkit-tap-highlight-color: @selectcolor; overflow: scroll !important; -webkit-overflow-scrolling: touch !important; }

/* ngCloak */

*[ng-cloak], .ng-cloak {
  display: none !important;
}

/* Typography Presets */

h1, h2, h3, h4 {
	text-rendering: optimizelegibility;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 1px;
}

.huge, h1 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 200;

	@media @tablet_small {
		font-size: 2.5em;
		line-height: 1.125em;
	}
	@media @tablet_large {
		font-size: 3em;
		line-height: 1.05em;
	}
	@media only print {
		font-size: 36pt;
		line-height: 1.25em;
	}
}

.large, h2 {
	font-size: 1.625em;
	line-height: 1.15384615em;
	font-weight: 200;

	@media @tablet_small {
		font-size: 2em;
		line-height: 1.25em;
	}
	@media @tablet_large {
		font-size: 2.25em;
	}
	@media only print {
		font-size: 24pt;
		line-height: 1.25em;
	}
}

.bigger, h3 {
	font-size: 1.375em;
	line-height: 1.15384615em;
	font-weight: 500;

	@media @tablet_small {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	@media @tablet_large {
		font-size: 1.75em;
	}
	@media only print {
		font-size: 18pt;
		line-height: 1.25em;
	}
}

.big, h4 {
	font-size: 1.125em;
	line-height: 1.375em;
	font-weight: 500;
    @media @monitor_small {
        font-size: 1.25em;
        line-height: 1.25em;
    }
	@media only print {
		font-size: 14pt;
		line-height: 1.25em;
	}
}

body {
	font: 18px/28px 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: @grey_dark;
	font-weight: 400;
	font-size: 100%; // changing this changes all of the font sizes
	line-height: 1.25em;

	// font scale
	@media @tablet_small {
		line-height: 1.375em;
	}
    @media @monitor_small {
        font-size: 1.125em;
        line-height: 1.4em;
    }
	@media only print {
		font-size: 12pt;
		line-height: 1.25em;
	}
}

@txtwidth: 720px;

.small, small {
	font-size: 0.8em;
	line-height: 1.25em;
}

/* Images */

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

/* Default structural stuff */

html, body {
	width: 100%;
	height: 100%;
}

/* links */

a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	color: @link_color;
	transition: color 200ms ease-out;

	// visited links
	&:visited {
		color: @link_color;
	}
	.no-touch &:hover {
		color: @link_hover;
		transition: color 200ms;
	}

	&:active,
	&:focus,
	.no-touch &:active,
	.no-touch &:focus {
		color: @link_active;
		transition: color 200ms;
	}
}