@import 'reset.less';

@import 'defaults.less';

@import 'mixins.less';

/* styles */

.dark, .medium, .light {
	width: 100%;
	padding: 70px 0;
	position: relative;
}

.dark {
	background-color: @black;
	color: @white;
}

.medium {
	background-color: @grey_light_offset;
	color: @grey_dark;
}

.light {
	background-color: @white;
	color: @grey_dark;
}

/* Section Borders */

.triangle-up:before, .triangle-down:after {
	left: 50%;
	width: 100px;
	height: 100px;
	transform: translateX(-50%) rotate(45deg);
	position: absolute;
	content: '';
	pointer-events: none;
	z-index: 10;
	background: inherit;
}

.triangle-up:before {
	top: -50px;
}

.triangle-down:after {
	bottom: -50px;
}

/* Homepage */

.home-header {
	h1 {
		.wrapper();
		margin: 0 auto;
		letter-spacing: 3px;
		font-weight: 700;
		font-size: 3rem;
		line-height: 4rem;
		text-align: center;

		@media @tablet_small {
			font-size: 3.5rem;
			line-height: 5rem;
		}

		@media @tablet_large {
			font-size: 4rem;
			line-height: 6rem;
		}

		@media @monitor_small {
			font-size: 5.75rem;
			line-height: 7.5rem;
		}
	}
}

.home-blurb {
	h2 {
		.wrapper();
		margin: 30px auto 20px;
	}
	p {
		.wrapper();
		margin: 20px auto 0;
		&.cta {
			font-size: 1.25rem;
		}
	}
}

.home-excerpts {
	padding-bottom: 140px;
	h2 {
		.wrapper();
		margin: 40px auto;
		text-align: center;
	}
	.gutter {
		width: 90%;
		margin: 0 5%;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}
}

.home-excerpt-item {
	width: 250px;
	height: 200px;
	margin: 0 10px;
	background-size: cover !important;
	position: relative;
	flex: 1 1 auto;

	h3 {
		text-align: center;
		width: 75%;
		line-height: 1.4em;
	}

	.no-touch &:hover {
		h3, h4, p {
			color: @link_hover;
		}
	}

	&.home-excerpt-item-project {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.project-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@media @tablet_small {
		width: 400px;
		height: 300px;
		margin: 10px;
		flex: 1 1 400px;
	}

	@media @tablet_large {
		height: 175px;
		&:last-child { display: none !important; }
	}

	@media @monitor_small { height: 150px; }
	@media @monitor_medium { height: 300px; }
	@media @monitor_large { height: 250px; }

	.home-excerpt-item-inner {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-flow: row wrap;

		&.home-excerpt-item-img {
			background-size: cover !important;
		}

		&.home-excerpt-item-textpost {
			h4, p {
				float: left;
				transition: color 200ms ease-out;
			}
		}
	}
}

.link-box {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Contact Section */

.contact {
	.clearfix;
	padding-bottom: 0;
	h1 {
		.wrapper();
		margin: 30px auto 20px;
		text-align: center;
	}
	.around-town {
		width: 90%;
		margin: 0 5% 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		article {
			margin: 10px;
			width: 44px;
			height: 44px;
			position: relative;
			font-size: 26px;
			padding: 10px;
			background-color: transparent;
			transition: 150ms all;
			float: left;
			flex: 0 0 auto;

			@media @tablet_small {
				margin: 5px;
			}

			a {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
			}
			.social-hover {
				display: none;
			}

			@media @tablet_small {
				float: right;
				flex: none;
				.social-hover {
					display: block;
					opacity: 0;
					top: 44px;
					left: 0;
					position: absolute;
					font-size: 0.8rem;
					line-height: 1.2em;
					padding: 10px 20px;
					background-color: rgba(25,25,25,0.92);
					z-index: 1;
					width: 140px;
					pointer-events: none;
					.border-radius(4px, 4px, 4px, 0);
					transition: 150ms all;
					p {
						color: @grey_medium_light;
					}
				}
				.no-touch &:hover {
					background-color: rgba(25,25,25,0.92);
					.border-radius(4px, 0, 0, 4px);
					transition: 250ms all;
					.social-hover {
						opacity: 1;
						transition: 250ms all;
					}
				}
			}
		}
	}
	.direct-line {
		width: 90%;
		margin: 0 5%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		div {
			float: left;
			margin: 10px 20px 0 20px;
			flex: 0 0 auto;
			a {
				padding-left: 10px;
				line-height: 20px;
				vertical-align: top;
			}
			@media @tablet_small {
				margin: 10px 20px;
				flex: none;
				clear: left;
			}
		}
	}
}

/* Footer */

.page-footer { padding: 30px 0; }

.footer-nav {
	.wrapper();

	ul {
		width: 100%;
		margin: 0 auto 10px;
		display: flex;
		li {
			text-align: center;
			margin: 0 10px;
			flex: 1 1 auto;
			position: relative;
			&:after {
				content: "|";
				position: absolute;
				right: -10px;
				color: @grey_dark;
			}
			&:last-of-type {
				&:after {
					content: "";
				}
			}
		}
		@media @tablet_small {
			width: 60%;
		}
	}
}

.copyleft {
	.wrapper();
	color: @white;
	font-size: 0.85rem;
	line-height: 1.125rem;
	text-align: center;
	margin-top: 30px;
}