# osx noise
.DS_Store
profile

# svn & cvs
.svn
CVS

*.sublime-project
*.sublime-workspace

# Unit Testing Mid-tier files
*/tests/*.js

# Grunt build process interstitial files
js/scripts.js
css/styles.css

# iconic source svgs
iconic/smart