<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie-old" ng-app="khi"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" ng-app="khi"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <title>Keats Heavy Industries</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="" />
        <meta name="author" content="Nelson Pecora" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" type="text/css" href="iconic/iconic_fill.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>
	<body ng-controller="ResumePageCtrl">
	    <header class="page-header sticky">
	    	<div class="page-header-left"><a href="/">&lsaquo; home</a></div>
	    	<h1 class="page-header-center">R&eacute;sum&eacute;</h1>
	    	<div class="page-header-right"><a href="resume.pdf" title="Download R&eacute;sum&eacute; (pdf)" class="iconic document_alt_fill"></a></div>
	    </header>
	    <section class="dark resume-header bslg">
	    	<h2>BRILLIANCY &middot; SPEED &middot; LIGHTNESS &middot; GLORY</h2>
	    	<p>This is my mantra, what I&#8217;m all about. The phrase comes from Bruce Sterling&#8217;s <em>The Caryatids</em>, a dystopic novel about recovering from the climate crisis. In the book, those four words epitomize the ideals of startup culture.</p>

	    	<h3 class="bslg-left">Brilliancy</h3>
	    	<p class="bslg-right">Wit, lateral thinking, and epiphanies. The ability to solve an intractable problem with an ingenious solution.</p>

	    	<h3 class="bslg-left">Speed</h3>
	    	<p class="bslg-right">Not just working quickly, but getting things done on time. Slow is smooth, smooth is fast.</p>

	    	<h3 class="bslg-left">Lightness</h3>
	    	<p class="bslg-right">Iteration, modular architecture, and legible code. If you can work on a project and hand it to another developer without them wanting to stab you, you&#8217;re doing it right.</p>

	    	<h3 class="bslg-left">Glory</h3>
	    	<p class="bslg-right">This is the transcendent quality that separates the good from the amazing, the little touches that change the way we think about UIs, and the reason we describe some products as &#8220;magical and revolutionary.&#8221;</p>
	    </section>
	    <section class="light">
	    	<h2>Skills</h2>
	    	<div class="skill-left">
	    		<div class="skill-icon"><span class="iconic brush"></span></div>
	    		<h3>Design</h3>
	    	</div>
	    	<div class="skill-right">
	    		<ul>
	    			<li>composition &amp; layout</li>
	    			<li>typography</li>
	    			<li>photoshop</li>
	    			<li>illustrator</li>
	    		</ul>
	    	</div>

	    	<div class="skill-left">
	    		<div class="skill-icon"><span class="iconic list_nested"></span></div>
	    		<h3>Development</h3>
	    	</div>
	    	<div class="skill-right">
	    		<ul>
	    			<li>html5</li>
	    			<li>css3</li>
	    			<li>angularjs</li>
	    			<li>spinejs</li>
	    			<li>jquery</li>
	    			<li>nodejs</li>
	    			<li>shopify</li>
	    			<li>wordpress</li>
	    		</ul>
	    	</div>

	    	<div class="skill-left">
	    		<div class="skill-icon"><span class="iconic new_window"></span></div>
	    		<h3>UX</h3>
	    	</div>
	    	<div class="skill-right">
	    		<ul>
	    			<li>mechanism design</li>
	    			<li>user workflows</li>
	    			<li>game design</li>
	    			<li>data visualization</li>
	    			<li>accessibility</li>
	    		</ul>
	    	</div>

	    	<div class="skill-left">
	    		<div class="skill-icon"><span class="iconic iphone"></span></div>
	    		<h3>Mobile</h3>
	    	</div>
	    	<div class="skill-right">
	    		<ul>
	    			<li>responsive design</li>
	    			<li>responsive typography</li>
	    			<li>emerging interfaces</li>
	    			<li>graceful degradation</li>
	    			<li>progressive enhancement</li>
	    		</ul>
	    	</div>
	    </section>
	    <section class="medium">
	    	<h2>Experience</h2>
	    	<div class="exp-1" ng-repeat="job in jobs">
	    		<article class="exp-item">
	    			<header>
	    				<h3 class="span-half">{{job.start}} &mdash; {{job.end}}</h3>
	    				<h3 class="span-half">{{job.place}}</h3>
	    				<h3 class="span-half">{{job.role}}</h3>
	    				<h3 class="span-half">{{job.company}}</h3>
	    			</header>
	    			<p>{{job.desc}}</p>
	    		</article>
	    		<article class="exp-item" ng-repeat="subjob in job.subjobs">
	    			<header>
	    				<h3 class="span-half">{{subjob.start}} &mdash; {{subjob.end}}</h3>
	    				<h3 class="span-half">{{subjob.place}}</h3>
	    				<h3 class="span-half">{{subjob.role}}</h3>
	    				<h3 class="span-half">{{subjob.company}}</h3>
	    			</header>
	    			<p>{{subjob.desc}}</p>
	    		</article>
	    	</div>
	    </section>
	    <section class="light">
	    	<h2>Interests</h2>
	    	<section>
	    		<h3>Volunteering</h3>
	    		<article class="img-box" ng-repeat="vol in volunteering">
	    			<img ng-src="vol.img" alt="{{vol.imgAlt}}" />
	    			<p>{{vol.title}}</p>
	    			<p>{{vol.time}}</p>
	    		</article>
	    	</section>
	    	<section>
	    		<h3>Studying</h3>
	    		<p>blurb about education + continuing education, touch on RIT, udacity + coursera, my library</p>
	    	</section>
	    	<section>
	    		<h3>Having Fun!</h3>
	    		<article class="img-box" ng-repeat="interest in interests">
	    			<img ng-src="interest.img" alt="{{interest.imgAlt}}" />
	    			<p>{{interest.desc}}</p>
	    		</article>
	    	</section>
	    </section>
	    <footer class="dark">
	    	<p class="copyleft">&copy; Nelson Pecora, under a Creative Commons <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" title="Creative Commons licensing terms">(attribution noncommercial share-alike 3.0)</a> license</p>

	    	<!-- external scripts -->
	    	<script type="text/javascript" src="js/external/angular/angular.min.js"></script>

	    	<!-- internal scripts -->
	    	<script type="text/javascript" src="js/scripts.min.js"></script>
	    </footer>
	</body>
</html>