include "head"
	<body ng-controller="HomePageCtrl">
	    <header class="dark triangle-down home-header">
	    	<h1>Good Design Needs a Strong Foundation</h1>
	    </header>
	    <section class="light home-blurb">
	    	<h2>At Keats Heavy Industries, our clipboards are made of pig iron</h2>
	    	<p>More people can see your website than could ever wander past your storefront. Shouldn't it show your best side? I'm a web designer, programmer, and UI geek, and I like to build websites that withstand the test of time.</p>
	    	<p>Right now I'm working with a great startup called <a href="http://getbolster.com/" title="Bolster">Bolster</a>, but I'm always looking to talk shop and collaborate on interesting projects.</p>
	    	<p class="cta">Check out my <a href="resume">resume</a> or <a href="#Contact">get in touch</a>!</p>
	    </section>
	    <section class="medium home-excerpts">
	    	<h2><a href="/work" title="Latest Work">Latest Work</a></h2>
	    	<div class="gutter">
		    	<article class="home-excerpt-item home-excerpt-item-project" ng-repeat="project in projects|limitTo:3">
		    		<div class="home-excerpt-img">
		    			<img class="project-img" ng-src="{{project.img}}" />
		    		</div>
		    		<h3>{{project.title}}</h3>
		    		<a href="/work#{{project.title}}" title="{{project.title}}" class="link-box"></a>
		    	</article>
		    </div>

	    	<h2><a href="http://blog.keats.me" title="Blog">Hot off the Presses</a></h2>
	    	<div class="gutter">
		    	<article class="home-excerpt-item" ng-repeat="blogpost in blogposts">
		    		<div ng-if="!blogpost.contentSnippet" class="home-excerpt-item-inner home-excerpt-item-img" style="background: url('{{blogpost.content | backgroundimage }}') no-repeat center top">
		    		</div>
		    		<div ng-if="blogpost.contentSnippet" class="home-excerpt-item-inner home-excerpt-item-textpost">
		    			<h4>{{blogpost.title}}</h4>
		    		</div>
		    		<a href="{{blogpost.link}}" title="{{blogpost.title}}" class="link-box"></a>
		    	</article>
		    </div>
	    </section>
	    include "contact"
	include "foot"
	</body>
</html>