include "head"
	<body ng-controller="HomePageCtrl">
	    <header class="dark triangle-down home-header">
	    	<h1>Good Design Needs a Strong Foundation</h1>
	    </header>
	    <section class="light home-blurb">
	    	<h2>At Keats Heavy Industries, our clipboards are made of pig iron</h2>
	    	<p>intro blurb about me</p>
	    	<p>intro blurb about my current work status and projects</p>
	    	<p class="cta">Check out my <a href="resume">resume</a> or <a href="#Contact">get in touch</a>!</p>
	    </section>
	    <section class="medium home-excerpts">
	    	<h2><a href="/work" title="Latest Work">Latest Work</a></h2>
	    	<div class="gutter">
		    	<article class="home-excerpt-item home-excerpt-item-project" ng-repeat="project in projects" style="background: white url('images/{{project.img}}') no-repeat center top;">
		    		<h3>{{project.title}}</h3>
		    		<a href="/work#{{project.title}}" title="{{project.title}}" class="link-box"></a>
		    	</article>
		    </div>

	    	<h2><a href="http://blog.keats.me" title="Blog">Hot off the Presses</a></h2>
	    	<div class="gutter">
		    	<article class="home-excerpt-item" ng-repeat="blogpost in blogposts">
		    		<div ng-if="!blogpost.contentSnippet" class="home-excerpt-item-inner home-excerpt-item-img" style="background: url('{{blogpost.content | backgroundimage }}') no-repeat center top">
		    		</div>
		    		<div ng-if="blogpost.contentSnippet" class="home-excerpt-item-inner home-excerpt-item-textpost">
		    			<h4>{{blogpost.title}}</h4>
		    			<p>{{blogpost.contentSnippet}}</p>
		    		</div>
		    		<a href="{{blogpost.link}}" title="{{blogpost.title}}" class="link-box"></a>
		    	</article>
		    </div>
	    </section>
	    include "contact"
	include "foot"
	</body>
</html>