include "head"
	<body ng-controller="ResumePageCtrl">
	    <header class="page-header sticky">
	    	<div class="page-header-left page-header-link"><a href="/"><span class="angle">&lsaquo;</span> home</a></div>
	    	<h1 class="page-header-center">R&eacute;sum&eacute;</h1>
	    	<div class="page-header-right page-header-icon"><a href="resume.pdf" title="Download R&eacute;sum&eacute; (pdf)"><img class="iconic" data-src="iconic/smart/file.svg" data-file-extension="pdf" alt="file" /></a></div>
	    </header>
	    <section class="dark triangle-down resume-header" id="Mantra">
	    	<h2>BRILLIANCY<span class="middot-break"> &middot; </span>SPEED<span class="middot-break"> &middot; </span><span class="flow-break"><br /></span>LIGHTNESS<span class="middot-break"> &middot; </span>GLORY</h2>
	    	<p>This is my mantra, what I&#8217;m all about. The phrase comes from Bruce Sterling&#8217;s <em>The Caryatids</em>, a dystopic novel about recovering from the climate crisis. In the book, those four words epitomize the ideals of startup culture.</p>

	    	<div class="bslg">
				<h3 class="bslg-left">Brilliancy</h3>
		    	<p class="bslg-right">Wit, lateral thinking, and epiphanies. The ability to solve an intractable problem with an ingenious solution.</p>

		    	<h3 class="bslg-left">Speed</h3>
		    	<p class="bslg-right">Not just working quickly, but getting things done on time. Slow is smooth, smooth is fast.</p>

		    	<h3 class="bslg-left">Lightness</h3>
		    	<p class="bslg-right">Iteration, modular architecture, and legible code. If you can work on a project and hand it to another developer without them wanting to stab you, you&#8217;re doing it right.</p>

		    	<h3 class="bslg-left">Glory</h3>
		    	<p class="bslg-right">This is the transcendent quality that separates the good from the amazing, the little touches that change the way we think about UIs, and the reason we describe some products as &#8220;magical and revolutionary.&#8221;</p>
		    </div>
	    </section>
	    <section class="light">
	    	<div class="skills" id="Skills">
		    	<h1>Skills</h1>
		    	<div class="skill-left">
		    		<div class="skill-icon">
		    			<img class="iconic mobile iphone" data-src="iconic/smart/iphone.svg" />
		    			<img class="iconic mobile android" data-src="iconic/smart/nexus.svg" />
		    			<img class="iconic tablet" data-src="iconic/smart/tablet.svg" />
		    			<img class="iconic laptop" data-src="iconic/smart/laptop.svg" />
		    			<img class="iconic desktop" data-src="iconic/smart/monitor.svg" />
		    		</div>
		    		<h3>Responsive Design</h3>
		    	</div>
		    	<div class="skill-right">
		    		<ul>
		    			<li>composition &amp; layout</li>
		    			<li>typography</li>
		    			<li>responsive iconography</li>
		    			<li>ui animation</li>
		    			<li>mobile first</li>
		    			<li>emerging interfaces</li>
		    		</ul>
		    	</div>

		    	<div class="skill-left">
		    		<div class="skill-icon"><img class="iconic" data-src="iconic/smart/copywriting.svg" /></div>
		    		<h3>Development</h3>
		    	</div>
		    	<div class="skill-right">
		    		<ul>
		    			<li>html5 &amp; css3</li>
		    			<li>angularjs</li>
		    			<li>javascript</li>
		    			<li>coffeescript</li>
		    			<li>nodejs</li>
		    			<li>shopify &amp; wordpress</li>
		    		</ul>
		    	</div>

		    	<div class="skill-left">
		    		<div class="skill-icon"><img class="iconic" data-src="iconic/smart/people.svg" /></div>
		    		<h3>UX</h3>
		    	</div>
		    	<div class="skill-right">
		    		<ul>
		    			<li>mechanism design</li>
		    			<li>user workflows</li>
		    			<li>game design</li>
		    			<li>data visualization</li>
		    			<li>accessibility</li>
		    			<li>information architecture</li>
		    		</ul>
		    	</div>

		    	<div class="skill-left">
		    		<div class="skill-icon"><img class="iconic" data-src="iconic/smart/terminal.svg" /></div>
		    		<h3>DevOps</h3>
		    	</div>
		    	<div class="skill-right">
		    		<ul>
		    			<li>automated build workflows</li>
		    			<li>version control</li>
		    			<li>agile development</li>
		    			<li>unit &amp; end-to-end testing</li>
		    			<li>readable documentation</li>
		    			<li>software architecture</li>
		    		</ul>
		    	</div>
		    </div>
	    </section>
	    <section class="medium triangle-up triangle-down">
	    	<div class="experience" id="Experience">
		    	<h1>Experience</h1>
		    	<div class="exp-1" ng-repeat="job in jobs">
		    		<article class="exp-item">
		    			<header>
		    				<h4 class="span-half exp-item-title">{{job.start}} &mdash; {{job.end}}</h4>
		    				<h4 class="span-half exp-item-place">{{job.place}}</h4>
		    				<h4 class="span-half">{{job.role}}</h4>
		    				<h4 class="span-half">{{job.company}}</h4>
		    			</header>
		    			<p>{{job.desc}}</p>
		    		</article>
		    		<article class="exp-item subjob" ng-repeat="subjob in job.subjobs">
		    			<header>
		    				<h4 class="span-half exp-item-title">{{subjob.start}} &mdash; {{subjob.end}}</h4>
		    				<h4 class="span-half exp-item-place">{{subjob.place}}</h4>
		    				<h4 class="span-half">{{subjob.role}}</h4>
		    				<h4 class="span-half">{{subjob.company}}</h4>
		    			</header>
		    			<p>{{subjob.desc}}</p>
		    		</article>
		    	</div>
		    </div>
	    </section>
	    <section class="light">
	    	<div class="interests" id="Interests">
		    	<h1>Interests</h1>
		    	<section>
		    		<div class="img-box-wrap">
			    		<article class="img-box" ng-repeat="interest in interests">
			    			<a href="{{interest.url}}" title="interest.imgAlt">
			    				<img ng-src="images/{{interest.img}}" alt="{{interest.imgAlt}}" />
			    			</a>
			    			<p ng-if="interest.title">{{interest.title}}</p>
			    			<p ng-if="interest.desc">{{interest.desc}}</p>
			    			<p ng-if="interest.time">{{interest.time}}</p>
			    		</article>
			    	</div>
		    	</section>
		    </div>
	    </section>
	    include "contact"
	    include "foot"
	</body>
</html>