include "head"
	<body ng-controller="WorkPageCtrl">
	    <header class="page-header sticky">
	    	<div class="page-header-left"><a href="/">&lsaquo; home</a></div>
	    	<h1 class="page-header-center">Latest Work</h1>
	    	<div class="page-header-right"><a href="resume" title="R&eacute;sum&eacute;">r&eacute;sum&eacute; &rsaquo;</a></div>
	    </header>
	    <section class="light">
	    	<article class="project" ng-repeat="project in projects">
	    		<img ng-src="images/{{project.img}}" alt="Project Screenshot" />
	    		<h2>{{project.title}}</h2>
	    		<p>{{project.desc}}</p>
	    		<p ng-if="project.github"><a href="{{project.github}}" title="View this project on Github">View this project on Github &rsaquo;</a></p>
	    		<p ng-if="project.link"><a href="{{project.link}}" title="{{project.title}}">View this project &rsaquo;</a></p>
	    	</article>
	    </section>
	include "foot"
	</body>
</html>