mixin svg(name)
  - var xml = fs.readFileSync('dist/icons/' + name +'.svg')
  != xml

mixin iconic(name, iconicClass)
  - var xml = fs.readFileSync('dist/iconic/' + name +'-lg.svg')
  if iconicClass
    div(class=iconicClass)!= xml
  else
    != xml

mixin base64img(src)
  - var xml = fs.readFileSync('dist/' + src)
  - var base = new Buffer(xml).toString('base64')
  img(src='data:image/png;base64,' + base, alt='Project Screenshot')